@import 'variables';

a {
    transition: 0.3s;
    text-decoration: underline;
    color: rgba($color-text, 0.5);
    &:hover {
        background-color: $color-accent;
    }
}

iframe {
    max-width: 100%;
}
@media screen and (max-width: $width) {
    iframe {
        height: auto;
    }
}

.wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: $width;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 30px;
}

@media screen and (min-width: $width) {
    .home .wrapper {
        width: 800px;
    }
}

@media screen and ( max-width: $width ) {
    .wrapper {
        width: 100%;
    }
}

.sectionTtl {
    font-size: 2.2rem;
    line-height: 1;
    position: relative;
    margin-top: 50px;
    padding: 5px 0;
    letter-spacing: 0.03em;
    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 5px;
        margin: auto;
        content: '';
        background-color: $color-accent;
    }
    h2 {
        font-size: 2.2rem;
        line-height: 45px;
    }
    span {
        font-size: 1.2rem;
        line-height: 1;
    }
    &__sub, &__sub a {
        line-height: 1;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    ul {
        display: flex;
        li {
            width: 40px;
            & + li {
                margin-left: 5px;
            }
            a {
                display: block;
                padding: 5px;
            }
        }
    }
}

@media screen and (min-width: $width) {
    #nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto 10px;
        padding-top: 10px;
        .menu {
            display: flex;
            &-item {
                > a {
                    line-height: 40px;
                    position: relative;
                    display: block;
                    padding: 0 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-text;
                    &::before {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        left: 0;
                        width: 0;
                        height: 5px;
                        margin: auto;
                        content: '';
                        transition: 0.5s;
                        background-color: $color-accent;
                    }
                    &:hover {
                        background: none;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }
    }
    #nav_btn {
        display: none;
    }
}

@media screen and (max-width: $width) {
    #nav {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        width: 240px;
        height: 100vh;
        padding: 50px 20px 20px;
        transition: .3s ease-out;
        transform: translateX(100%);
        background-color: $color-accent;
        box-shadow: 0 -2px 4px rgba(#000, .2);
        &.is-open {
            transform: translateX(0);
            &::before {
                display: block;
            }
        }
        .menu {
            &-item {
                > a {
                    font-size: 1.4rem;
                    line-height: 60px;
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                    color: $color-text;
                }
            }
        }
    }
    #nav_btn {
        position: fixed;
        z-index: 10;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        background-color: #fff;
        div {
            width: 25px;
            height: 2px;
            margin: 7px 0;
            transition: .3s ease-out;
            transform-origin: right;
            background-color: $color-text;
        }
        &.is-open {
            background-color: transparent;
            div:nth-child(1) {
                transform: rotate(-45deg);
            }
            div:nth-child(2) {
                opacity: 0;
            }
            div:nth-child(3) {
                transform: rotate(45deg);
            }
        }
    }
}

#footer {
    margin-top: 50px;
    padding: 5px 0;
    text-align: center;
    color: lighten($color-text, 20%);
}

#top {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    .news {
        margin-top: 50px;
        .sectionTtl {
            text-align: center;
            &::before {
                right: 0;
            }
        }
        .posts {
            margin-top: 20px;
            .post-news {
                display: flex;
                justify-content: center;
                margin: 10px auto 0;
                > time {
                    display: inline-block;
                    width: 70px;
                }
                > h3 {
                    display: inline-block;
                }
            }
        }
        &__link {
            margin-top: 10px;
            text-align: center;
            a {
                position: relative;
                display: inline-block;
                padding: 0 15px 0 10px;
                text-decoration: none;
                color: $color-text;
                &::before {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    bottom: 0;
                    width: 4px;
                    height: 4px;
                    margin: auto;
                    content: '';
                    transform: rotate(-45deg);
                    border-right: 1px solid $color-text;
                    border-bottom: 1px solid $color-text;
                }
            }
        }
    }
    .video {
        margin-top: 50px;
        h2 {
            font-size: 1.8rem;
        }
        iframe {
            margin: 10px 0;
        }
    }
    #menu {
        margin-top: 50px;
        > ul {
            > li {
                font-size: 1.5rem;
                margin: 0 15px;
                letter-spacing: 0.03em;
                > a {
                    position: relative;
                    display: block;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    color: $color-text;
                }
            }
        }
    }
}

@media screen and (min-width: $width) {
    #top {
        h1 {
            width: 400px;
            margin: 30px auto;
        }
        #menu > ul {
            display: flex;
            justify-content: center;
            > li > a {
                &::before {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    width: 0;
                    height: 5px;
                    margin: auto;
                    content: '';
                    transition: 0.5s;
                    background-color: $color-accent;
                }
                &:hover {
                    background: none;
                }
                &:hover::before {
                    width: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: $width) {
    #top {
        h1 {
            width: 90%;
            margin: 50px auto 0;
        }
    }
}

#biography {
    .image {
        width: 100%;
        margin: 10px auto 30px;
        > img {
            width: 100%;
            height: auto;
        }
    }
    .body {
        text-align: center;
        p {
            line-height: 2;
            & + p {
                margin-top: 20px;
            }
        }
    }
}

.post {
    margin: 50px 0;
    &__ttl {
        font-size: 1.6rem;
        font-weight: bold;
    }
    &__img {
        margin-bottom: 10px;
    }
    &__body {
        margin-top: 20px;
    }
    &__cont {
        margin-top: 10px;
    }
    &__desc h4 {
        font-weight: bold;
        margin: 15px 0 5px;
    }
    &__songList {
        counter-reset: trackNum 0;
        > li::before {
            display: inline-block;
            width: 15px;
            content: counter(trackNum);
            counter-increment: trackNum;
        }
    }
}
@media screen and (min-width: $width) {
    #discography {
        .post {
            display: flex;
            &__ttl {
                margin-top: 0;
            }
            &__img {
                width: 200px;
            }
            &__cont {
                flex: 1;
                margin: 0 0 0 20px;
            }
        }
    }
}

.table {
    margin: 10px 0;
    > dt {
        display: inline-block;
        margin-right: 10px;
    }
    > dd {
        display: inline-block;
        margin-right: 20px;
    }
}

.content {
    margin-top: 20px;
    > p {
        margin-top: 10px;
    }
}

#contact {
    .text {
        margin-top: 50px;
    }
    .link {
        margin-top: 20px;
        li {
            margin: 10px 0;
            padding-left: 25px;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }
        &__mail {
            background-image: url(../img/common/mail.svg);
        }
        &__twitter {
            background-image: url(../img/common/twitter.svg);
        }
    }
}

#errorPage {
    text-align: center;
    .errorHead {
        position: relative;
        padding-bottom: 20px;

        &::before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 5px;
            margin: auto;
            content: '';
            background-color: $color-accent;
        }

        h2 {
            font-size: 4rem;
            line-height: 1.4;
            letter-spacing: 0.1em;
        }
    }

    > p {
        margin-top: 30px;
    }

    .link {
        margin-top: 10px;
        text-align: center;
        a {
            position: relative;
            display: inline-block;
            padding: 0 10px 0 15px;
            text-decoration: none;
            color: $color-text;
            &::before {
                position: absolute;
                top: 0;
                left: 5px;
                bottom: 0;
                width: 4px;
                height: 4px;
                margin: auto;
                content: '';
                transform: rotate(135deg);
                border-right: 1px solid $color-text;
                border-bottom: 1px solid $color-text;
            }
        }
    }
}

.nav-links {
    .page-numbers {
        font-size: 1.6rem;

        & + .page-numbers {
            margin-left: 5px;
        }
    }
}