.w-mainview {
  height: 100vh;
  background-image: url('../images/index/mainview.jpg');
  background-position: center center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    padding: 20px 10px;
    @include screen-lg {
      justify-content: center;
      width: $width-default;
    }
  }

  &__title {
    max-width: 500px;
    margin-top: 80px;
    @include screen-lg {
      width: 640px;
    }

    filter: drop-shadow(0 0 20px rgba(#000, 1));
  }

  &__subtitle {
    max-width: 500px;
    @include screen-lg {
      width: 640px;
    }

    filter: drop-shadow(0 0 20px rgba(#000, 1));
  }
}

.w-topnews {
  @include screen-lg {
    margin-top: 90px;
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: lighten($color-text-weak, 30%);
    transition: .3s;
    @include screen-lg {
      flex-wrap: nowrap;
    }

    filter: drop-shadow(0 0 5px rgba(#000, 1));

    &:hover {
      opacity: .7;
    }
  }

  &__head {
    width: 60px;
    color: lighten($color-text-weak, 30%);
    font-family: $fontfamily-alegreya;
    letter-spacing: .1em;
    &::after {
      margin-left: 5px;
      content: '/';
    }
  }

  &__date {
    font-size: $fontsize-sm;
    margin-right: 10px;
  }

  &__title {
    flex-grow: 1;
    font-size: 14px;
    @include screen-sm {
      width: 100%;
    }
  }
}

.w-topblock {
  margin-bottom: 70px;

  &--schedule {
    padding: 0 20px 20px;
    background-color: $color-back;
    box-shadow: 0 2px 8px rgba(#000, .1);
  }

  &__title {
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 20px;
    border-bottom: 3px solid $color-main;
    color: $color-main;
    font-family: $fontfamily-alegreya;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: .05em;
      font-size: 46px;
    @include screen-lg {
      padding-right: 80px;
    }

    &--schedule {
      margin-top: -30px;
    }
  }

  &__container--instagram {
    text-align: center;
    overflow-y: scroll;
  }
}

.w-topschedule {
  margin: 10px 0;

  &__item {
    border-bottom: 1px solid $color-border;
  }

  &__link {
    display: block;
    align-items: center;
    padding: 15px 10px;
    transition: .3s;
    @include screen-lg {
      display: flex;
    }

    &:hover {
      opacity: .5;
    }
  }

  &__date {
    width: 90px;
    color: $color-text-weak;
    font-size: $fontsize-sm;
  }
}
