.coming-soon {
  display: flex;
  justify-content: center;
  width: $width-content;
  height: 100vh;
  margin: 0 auto;
  background-color: #eaeaea;

  img {
    width: 920px;
    height: 240px;
  }
}
