.content,
.content-top {
  @include screen-sm {
    padding: $height-header-sp 0 30px;
  }
}

.content {
  margin: auto;
  background-image: url('../images/common/bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  @include screen-lg {
    padding: 30px 0;
  }
}


.content-head {
  margin: 0 auto;
  padding: 0 20px;
  background-color: rgba(#fff, .8);
  @include screen-lg {
    width: 1000px;
  }

  &__main {
    display: flex;
    align-items: center;
    padding: 20px 0 10px;
  }

  &__title {
    color: $color-text;
    font-family: $font-serif;
    font-size: $font-sp-xlg;
    font-weight: bold;
    @include screen-lg {
      font-size: $font-pc-xlg;
    }
  }

  &__sub {
    margin-left: 10px;
    color: $color-text;
    font-family: $font-serif;
    font-size: $font-sp-lg;
    font-weight: bold;
    @include screen-lg {
      font-size: $font-pc-lg;
    }
  }

  &__description {
    padding: 5px 0;
    color: $color-text;
    border-top: 2px solid #a9a9a9;
    font-family: $font-serif;
  }

  &__link-item {
    width: 180px;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__link {
    display: block;
    padding: 0 10px;
    transition: .3s;
    color: #fff;
    background-color: $color-text-blue;
    font-family: $font-serif;
    font-weight: bold;
    @include screen-lg {
      font-size: $font-pc-lg;
      &::before {
        margin-right: 5px;
        content: '▶︎';
      }
    }

    &:hover {
      opacity: .8;
    }
  }
}

.content-head-box-pc {
  display: none;
  @include screen-lg {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.content-head-box-sp {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 20px 0;
  @include screen-lg {
    display: none;
  }
}

.content-main {
  margin: 30px auto;
  padding: 30px 0;
  border: 2px solid #a9a9a9;
  background-color: #fff;
  @include screen-lg {
    width: 1000px;
  }

  &__head {
    width: $width-content;
    margin: auto;
    font-size: $font-pc-xlg;
    font-weight: bold;

    &--concept {
      span {
        padding-right: 60px;
        color: $color-text;
        border-bottom: 2px solid #a9a9a9;
        font-family: $font-serif;
        font-size: inherit;
        font-weight: inherit;
      }
    }

    &--facility {
      color: $color-text-blue;
      border-bottom: 2px solid $color-text-blue;
      font-family: $font-sansserif-kaku;
    }

    &--cuisine {
      color: $color-gold;
      font-family: $font-serif;
    }
  }

  &__subhead {
    width: $width-content;
    margin: auto;
    color: $color-gold;
    font-family: $font-sansserif-kaku;
    font-size: $font-pc-lg;
    font-weight: bold;
  }

  &__text {
    width: $width-content;
    margin: 20px auto;
    color: $color-text-blue;
  }

  &__image-box {
    display: flex;
    justify-content: space-between;
    width: $width-content;
    margin: 40px auto;
  }

  &__image {
    box-shadow: 0 0 8px rgba(#56361c, .6);
  }
}
