@charset 'utf-8';

@font-face {
  font-family: 'ヒラギノ丸ゴ ProN';
  src: url('../fonts/HiraginoMaruGothicPro.ttf') format('truetype')
}

@font-face {
  font-family: 'YuMincho';
  src: url('../fonts/YuMinchoDemibold.ttf') format('truetype')
}
