@charset 'utf-8';

@font-face {
  font-family: 'MSPMincho';
  src: url('../fonts/MSPMincho.ttf') format('truetype')
}

@font-face {
  font-family: 'ヒラギノ丸ゴ ProN';
  src: url('../fonts/HiraginoMaruGothicPro.ttc') format('truetype')
}