.header {
  background-image: url('../images/bg-lightblue.jpg');
  z-index: $z-index-header;
  @include screen-sm {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height-header-sp;
    margin: 0 auto;
    padding: 5px 10px;
    @include screen-lg {
      width: $width-wrapper;
      height: 75px;
    }
  }

  &__logo {
    max-width: 80%;
    margin: 0 10px;
    @include screen-lg {
      width: 480px;
      max-width: 100%;
    }
  }
}

.contact-box-pc {
  @extend %show-on-pc;

  .contact-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;

    &::before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      margin: auto;
      content: '';
      border: 2px solid #999;
    }

    &__tell-number {
      width: 180px;
      height: 36px;
      padding: 0 10px;
    }

    &__links {
      z-index: 2;
      display: flex;
      align-items: center;
    }

    &__item {
      margin: 0 2px;
    }

    &__link {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      padding: 12px;
      transition: .3s;
      background-color: #92e0f5;

      img {
        width: auto;
        height: 14px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}

.sns-links-pc {
  @extend %show-on-pc;
  @include screen-lg {
    align-self: flex-end;
  }

  .sns-links {
    display: flex;

    &__item {
      margin-left: 2px;
    }
  }
}

.contact-box-sp,
.sns-links-sp,
.menu-button-close {
  @extend %show-on-sp;
}

.menu-button-open {
  @extend %show-on-sp;
  cursor: pointer;
  text-align: center;
  font-family: $font-serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;

  &::after {
    content: 'MENU';
  }

  span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: $color-text;
  }
}
