.header {
  z-index: $z-index-header;
  background-image: url('../images/bg-lightblue.jpg');
  @include screen-sm {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-header-sp;
    margin: 0 auto;
    padding: 5px 10px;
    @include screen-lg {
      width: $width-wrapper;
      height: 75px;
    }
  }

  &__text {
    margin: auto;
    padding: 10px;
    border-top: 1px solid #999;
    font-family: $font-serif;
    @include screen-lg {
      width: $width-wrapper;
    }
  }

  &__logo {
    max-width: 80%;
    margin: 0 10px;
    @include screen-lg {
      width: 480px;
      max-width: 100%;
    }
  }
}
