.plan {

  &__item {
    width: 1000px;
    margin: 30px auto;
    padding: 30px 50px;
    background-color: rgba(#fff, .8);
  }

  &__box {
    display: flex;
  }

  &__text {
    flex-grow: 1;
    margin-right: 20px;
  }

  &__title {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    color: $color-text-blue;
    border-bottom: 4px solid $color-text-blue;
    font-size: 30px;
    font-weight: bold;

    &::before {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      height: 60px;
      margin: auto 10px auto 0;
      content: '◆';
      font-size: 1.4em;
    }
  }

  &__detail {
    margin: 30px 0;
    color: $color-pink;
    font-size: $font-xlg;
    font-weight: bold;

    &::before {
      margin-right: 10px;
      content: '▶︎';
    }
  }

  &__description {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }

  &__condition {
    display: flex;
    padding: 5px 10px;
    border: 4px solid $color-pink;
    background-color: $color-gray;
  }

  &__condition-term,
  &__condition-desc {
    color: $color-pink;
    font-size: $font-lg;
    font-weight: bold;
  }

  &__condition-term {
    padding: 0 20px;
  }

  &__cta {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: $color-gray;
  }

  &__cta-text {
    flex-grow: 1;
    color: $color-text-blue;
    font-size: 24px;
    font-weight: bold;
  }

  &__cta-link {
    transition: .3s;

    &:hover {
      opacity: .8;
    }
  }

  &__note {
    text-align: center;
    color: $color-text-blue;
    font-size: $font-lg;
    font-weight: bold;
  }
}
