.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 5px 10px;
  background-image: url('../images/bg-lightblue.jpg');

  &__logo {
    width: 480px;
    margin: 0 10px;
  }
}

.contact-box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;

  &::before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    margin: auto;
    content: '';
    border: 2px solid #999;
  }

  &__tell-number {
    width: 180px;
    height: 36px;
    padding: 0 10px;
  }

  &__links {
    z-index: 2;
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 2px;
  }

  &__link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 12px;
    transition: .3s;
    background-color: #92e0f5;

    img {
      width: auto;
      height: 14px;
    }

    &:hover {
      opacity: .8;
    }
  }
}

.sns-links {
  display: flex;
  align-self: flex-end;

  &__item {
    & + & {
      margin-left: 2px;
    }
  }
}

.menu {
  padding: 0 10px;
  background-image: url('../images/bg-blue.jpg');
}

.menu-list {
  display: flex;

  &__item {
    position: relative;
    flex-grow: 1;

    &:first-child::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 30px;
      margin: auto;
      content: '';
      background-color: #999;
    }

    &::after {
      right: 0;
    }

    &:first-child::before {
      left: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: .3s;

    &:hover {
      opacity: .8;
    }
  }

  &__image {
    width: auto;
    height: 36px;
  }
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.top-content {
  padding: 50px;
  background-image: url('../images/bg.jpg');
  background-position: center center;

  background-repeat-x: no-repeat;

  &__top-box {
    display: flex;
    justify-content: space-between;
  }

  &__top-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__top-banner,
  &__link {
    transition: .3s;

    &:hover {
      opacity: .8;
    }
  }


}

.pickup {
  width: 600px;
  height: 237px;
  padding: 70px 15px 15px;
  background-image: url('../images/pickup.jpg');
  background-repeat: no-repeat;


  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 5px auto;
    background-color: #697584;
    box-shadow: 0 2px 4px rgba(#000, .2);
    padding: 10px;
    transition: .3s;

    &:hover {
      opacity: .8;
    }
  }
}

.pickupItem {
  display: flex;

  &__image {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
  }

  &__body {
    margin-left: 15px;
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
  }

  &__text {
    font-size: 10px;
  }
}

.footer {
  padding: 10px;
  background-image: url('../images/bg-blue.jpg');

  &__copyright {
    text-align: right;

    img {
      height: 14px;
    }
  }

}
