@charset 'utf-8';

/* colors
----------------- */
$color-text: #7b7b7b;
$color-text-blue: #697584;

/* font families
----------------- */
$font-serif: 'MSPMincho', 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
$font-sansserif: 'ヒラギノ丸ゴ ProN', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$font-sansserif-kaku: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;

/* font sizes
----------------- */
$font-sm: 10px;
$font-md: 16px;
$font-lg: 20px;
$font-xlg: 36px;

/* sizes
----------------- */
$width-wrapper: 1100px;
$width-content: 940px;

/* break points
----------------- */
$breakpoint-sm: 640px;
$breakpoint-lg: 1000px;
