@charset 'utf-8';

html {
  font-family: $font-family-default;
  font-size: 62.5%;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: $color-text;
  border: 0;
  outline: none;

  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
time,
mark,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
article,
footer,
header,
main,
menu,
nav,
section,
summary,
blockquote {
  font-family: $font-family-default;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  border: 0;
  outline: none;

  font-feature-settings: 'palt';
  -webkit-tap-highlight-color: transparent;
}

a,
span,
em,
time {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

input,
textarea,
fieldset,
select {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.clearfix::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '';
}
