@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600;1,800&display=swap');
@import 'variables';
@import 'utils';
@import 'reset';
@import 'icons';

@import 'modules/about';
@import 'modules/goodFellows';
@import 'modules/schedule';

.m-wrapper {
  position: fixed;
  background-image: url('../images/top.jpg');
  background-size: cover;
  overflow: scroll;
}
