a {
  transition: 0.3s;
  text-decoration: underline;
  color: rgba(94, 94, 94, 0.5);
}

a:hover {
  background-color: #ff6;
}

iframe {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  iframe {
    height: auto;
  }
}

.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (min-width: 600px) {
  .home .wrapper {
    width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

.sectionTtl {
  font-size: 2.2rem;
  line-height: 1;
  position: relative;
  margin-top: 50px;
  padding: 5px 0;
  letter-spacing: 0.03em;
}

.sectionTtl::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 5px;
  margin: auto;
  content: '';
  background-color: #ff6;
}

.sectionTtl h2 {
  font-size: 2.2rem;
  line-height: 45px;
}

.sectionTtl span {
  font-size: 1.2rem;
  line-height: 1;
}

.sectionTtl__sub, .sectionTtl__sub a {
  line-height: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#header ul {
  display: flex;
}

#header ul li {
  width: 40px;
}

#header ul li + li {
  margin-left: 5px;
}

#header ul li a {
  display: block;
  padding: 5px;
}

@media screen and (min-width: 600px) {
  #nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 10px;
    padding-top: 10px;
  }
  #nav .menu {
    display: flex;
  }
  #nav .menu-item > a {
    line-height: 40px;
    position: relative;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #5e5e5e;
  }
  #nav .menu-item > a::before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 0;
    height: 5px;
    margin: auto;
    content: '';
    transition: 0.5s;
    background-color: #ff6;
  }
  #nav .menu-item > a:hover {
    background: none;
  }
  #nav .menu-item > a:hover::before {
    width: 100%;
  }
  #nav_btn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #nav {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    padding: 50px 20px 20px;
    transition: .3s ease-out;
    transform: translateX(100%);
    background-color: #ff6;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  }
  #nav.is-open {
    transform: translateX(0);
  }
  #nav.is-open::before {
    display: block;
  }
  #nav .menu-item > a {
    font-size: 1.4rem;
    line-height: 60px;
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #5e5e5e;
  }
  #nav_btn {
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #fff;
  }
  #nav_btn div {
    width: 25px;
    height: 2px;
    margin: 7px 0;
    transition: .3s ease-out;
    transform-origin: right;
    background-color: #5e5e5e;
  }
  #nav_btn.is-open {
    background-color: transparent;
  }
  #nav_btn.is-open div:nth-child(1) {
    transform: rotate(-45deg);
  }
  #nav_btn.is-open div:nth-child(2) {
    opacity: 0;
  }
  #nav_btn.is-open div:nth-child(3) {
    transform: rotate(45deg);
  }
}

#footer {
  margin-top: 50px;
  padding: 5px 0;
  text-align: center;
  color: #919191;
}

#top {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#top .news {
  margin-top: 50px;
}

#top .news .sectionTtl {
  text-align: center;
}

#top .news .sectionTtl::before {
  right: 0;
}

#top .news .posts {
  margin-top: 20px;
}

#top .news .posts .post-news {
/*   display: flex; */
  justify-content: center;
  margin: 10px auto 0;
}

#top .news .posts .post-news > time {
  display: inline-block;
  width: 70px;
}

#top .news .posts .post-news > h3 {
  display: inline-block;
}

#top .news__link {
  margin-top: 10px;
  text-align: right;
}

#top .news__link a {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 10px;
  text-decoration: none;
  color: #5e5e5e;
}

#top .news__link a::before {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 4px;
  height: 4px;
  margin: auto;
  content: '';
  transform: rotate(-45deg);
  border-right: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
}

#top .video {
  margin-top: 80px;
}

#top .video h2 {
  font-size: 1.8rem;
}

#top .video iframe {
  margin: 10px 0;
}

#top #menu {
  margin-top: 50px;
}

#top #menu > ul > li {
  font-size: 1.5rem;
  margin: 0 15px;
  letter-spacing: 0.03em;
}

#top #menu > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #5e5e5e;
}

@media screen and (min-width: 600px) {
  #top h1 {
    width: 400px;
    margin: 30px auto;
  }
  #top #menu > ul {
    display: flex;
    justify-content: center;
  }
  #top #menu > ul > li > a::before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 0;
    height: 5px;
    margin: auto;
    content: '';
    transition: 0.5s;
    background-color: #ff6;
  }
  #top #menu > ul > li > a:hover {
    background: none;
  }
  #top #menu > ul > li > a:hover::before {
    width: 50px;
  }
}

@media screen and (max-width: 600px) {
  #top h1 {
    width: 90%;
    margin: 50px auto 0;
  }
}

#biography .image {
  width: 100%;
  margin: 10px auto 30px;
}

#biography .image > img {
  width: 100%;
  height: auto;
}

#biography .body {
  text-align: center;
}

#biography .body p {
  line-height: 2;
}

#biography .body p + p {
  margin-top: 20px;
}

.post {
  margin: 50px 0;
}

.post__ttl {
  font-size: 1.6rem;
  font-weight: bold;
}

.post__img {
  margin-bottom: 10px;
}

.post__body {
  margin-top: 20px;
}

.post__cont {
  margin-top: 10px;
}

.post__desc h4 {
  font-weight: bold;
  margin: 15px 0 5px;
}

.post__songList {
  counter-reset: trackNum 0;
}

.post__songList > li::before {
  display: inline-block;
  width: 15px;
  content: counter(trackNum);
  counter-increment: trackNum;
}

@media screen and (min-width: 600px) {
  #discography .post {
    display: flex;
  }
  #discography .post__ttl {
    margin-top: 0;
  }
  #discography .post__img {
    width: 200px;
  }
  #discography .post__cont {
    flex: 1;
    margin: 0 0 0 20px;
  }
}

.table {
  margin: 10px 0;
}

.table > dt {
  display: inline-block;
  margin-right: 10px;
}

.table > dd {
  display: inline-block;
  margin-right: 20px;
}

.content {
  margin-top: 20px;
}

.content > p {
  margin-top: 10px;
}

#contact .text {
  margin-top: 50px;
}

#contact .link {
  margin-top: 20px;
}

#contact .link li {
  margin: 10px 0;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

#contact .link__mail {
  background-image: url(../img/common/mail.svg);
}

#contact .link__twitter {
  background-image: url(../img/common/twitter.svg);
}

#errorPage {
  text-align: center;
}

#errorPage .errorHead {
  position: relative;
  padding-bottom: 20px;
}

#errorPage .errorHead::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 5px;
  margin: auto;
  content: '';
  background-color: #ff6;
}

#errorPage .errorHead h2 {
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
}

#errorPage > p {
  margin-top: 30px;
}

#errorPage .link {
  margin-top: 10px;
  text-align: center;
}

#errorPage .link a {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 15px;
  text-decoration: none;
  color: #5e5e5e;
}

#errorPage .link a::before {
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 4px;
  height: 4px;
  margin: auto;
  content: '';
  transform: rotate(135deg);
  border-right: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
}

.nav-links .page-numbers {
  font-size: 1.6rem;
}

.nav-links .page-numbers + .page-numbers {
  margin-left: 5px;
}
