body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &.archive {
        max-width: 162vh;
    }
}

.body {
    position: relative;
    z-index: 1;
    flex: 1;
    padding: 100px 50px;
    background-color: #fff;
}
