@charset 'utf-8';

.page {
    .title {
        font-size: 18px;
        color: $color-shioniro;
    }

    .content {
        margin-top: 20px;
        text-align: justify;
        @extend %markdown;
    }
}
