@charset 'utf-8';

.pagination {
    margin-top: 30px;

    .page-numbers {
        font-family: $font-number;
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
        width: 15px;
        text-align: center;

        & + & {
            margin-left: 5px;
        }
    }

    a.page-numbers {
        @include link($color-usuzumi);
    }

    .prev {
        font-size: 14px;
        margin-right: 10px;
    }

    .next {
        font-size: 14px;
        margin-left: 10px;
    }
}
