@charset 'utf-8';

$color-kuro: #2b2b2b;
$color-sumi: #585857;
$color-fujiiro: #bbbcde;
$color-shioniro: #867ba9;
$color-usuzumi: #a3a3a2;

$font-serif: 'EB Garamond', 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
$font-sansserif: 'Open Sans', '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$font-number: 'Neuton', 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;

$bp-sp: 600px;
$bp-tb: 960px;
