.w-header {
  position: absolute;
  right: 0;
  left: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgba(#000, .4) 50%, rgba(#000, 0));

  &.is-fixed {
    position: fixed;
    z-index: $z-header;
    background: linear-gradient(-3deg, $color-main, darken($color-main, 15%));
  }

  &__nav {
    display: flex;
    align-items: center;
    width: $width-default;
    height: 100%;
    margin: auto;
    padding: 0 20px;
  }

  &__sns {
    display: flex;
    flex-shrink: 0;
  }

  &__snsitem {
    margin: 0 10px;
    img {
      width: 36px;
    }
  }

  .menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }

  .menu-item {
    a,
    a:visited {
      display: block;
      color: $color-white;
      font-family: $fontfamily-alegreya;
      font-size: $fontsize-lg;
      transition: .3s;
    }

    a:hover {
      opacity: .5;
    }
  }
}
