.w-bannerlist {
  margin-bottom: 20px;
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.w-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 120px;
  padding: 0 20px;
  background-image: url('../images/sidecolumn/banner.png');
  transition: .3s;
  &:hover {
    opacity: .7;
  }

  &__en {
    display: block;
    color: $color-white;
    font-family: $fontfamily-alegreya;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: .1em;
  }

  &__ja {
    display: block;
    color: $color-white;
    font-size: $fontsize-sm;
  }
}
