@charset 'utf-8';

/* colors
----------------- */
$color-text: #333;

/* font families
----------------- */
$font-default: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;

/* break points
----------------- */
$breakpoint: 768px;
