@charset 'utf-8';

/* colors
----------------- */
$color-pink: #e2999a;
$color-brown: #342822;
$color-gray: #c5beba;

$color-text: $color-brown;
$color-background: #f1e8d4;

/* font families
----------------- */
$font-default: serif;

/* break points
----------------- */
$breakpoint: 600px;
