@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?bee67ff4ee20a0b1daf8874137b8762e?#iefix')
      format('embedded-opentype'),
    url('../fonts/icons.woff2?bee67ff4ee20a0b1daf8874137b8762e') format('woff2'),
    url('../fonts/icons.woff?bee67ff4ee20a0b1daf8874137b8762e') format('woff'),
    url('../fonts/icons.ttf?bee67ff4ee20a0b1daf8874137b8762e')
      format('truetype'),
    url('../fonts/icons.svg?bee67ff4ee20a0b1daf8874137b8762e#icons')
      format('svg');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: '\f101';
}
.icon-instagram:before {
  content: '\f102';
}
.icon-left:before {
  content: '\f103';
}
.icon-right:before {
  content: '\f104';
}
