@charset 'utf-8';

/* colors
----------------- */
$color-text: #141415;

/* font families
----------------- */
$font-default: 'Source Sans Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro',
  'メイリオ', 'Meiryo', sans-serif;

/* break points
----------------- */
$breakpoint-sm: 640px;
$breakpoint-lg: 1000px;
