@charset 'utf-8';

/* colors
----------------- */
$color-black: #231d1b;
$color-gray: #ded6d4;
$color-main: #f2a95b;

$color-text: $color-black;
$color-background: #fffefa;

/* width
----------------- */
$width-header: 1000px;

/* font families
----------------- */
$font-default: 'Noto Serif JP', serif;

/* break points
----------------- */
$breakpoint-sm: 640px;
$breakpoint-lg: 1000px;
