@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap');
@import 'variables';
@import 'utils';
@import 'reset';
@import 'icons';

@import 'modules/typography';

@import 'modules/access';
@import 'modules/button';
@import 'modules/classes';
@import 'modules/contact';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/layout';
@import 'modules/live';
@import 'modules/pagination';
@import 'modules/photo';
@import 'modules/profile';
@import 'modules/qa';
@import 'modules/top';
@import 'modules/transition';
