.u-language-selector {
  margin: 10px 0;
  text-align: center;
  font-size: 10px;

  &__title {
    display: inline-block;
    font-size: inherit;
  }

  &__body {
    display: inline-block;
    margin-left: 5px;
    font-size: inherit;
  }

  &__lang {
    margin: 0 5px;

    &[href] {
      text-decoration: underline;
      color: $color-text-weak;
    }
  }
}
