@charset "utf-8";@import url('https://fonts.googleapis.com/css?family=Khula:400');html{margin:0;padding:0;border:0;box-sizing:border-box;text-decoration:none;font-style:normal;font-weight:normal;color:#333;font-size:1.4rem;line-height:1.7;vertical-align:baseline;font-family:'Khula', 'Noto Sans Japanese', Arial,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;outline:none;-webkit-tap-highlight-color:transparent;}
body, div,
h1, h2, h3, h4, h5, h6, p,
a, span, time, mark,
dl, dt, dd, ol, ul, li,
form, label, legend,
article,
footer, header, main,
menu, nav, section, summary{margin:0;padding:0;border:0;box-sizing:border-box;text-decoration:none;font-style:normal;font-weight:normal;color:inherit;font-size:1.4rem;line-height:1.7;vertical-align:baseline;font-family:'Khula', Arial,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;outline:none;-webkit-tap-highlight-color:transparent;}
a, span, time{margin:0;padding:0;border:0;box-sizing:border-box;font-size:inherit;font-style:inherit;font-weight:inherit;color:inherit;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
img{max-width:100%;height:auto;vertical-align:bottom;}
html{font-size:62.5%;overflow-y:scroll;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
input, textarea,{margin:0;padding:0;}
ol, ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption, th{text-align:left;}
a:focus{outline:none;}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.clearfix{min-height:1px;}
* html .clearfix{height:1px;}
.both{clear:both;}
.inline_block{display:inline-block;*display:inline;*zoom:1;}
