.o-biography {
  &__name {
    margin: 20px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.25em;
  }

  &__en {
    display: block;
    font-size: 10px;
    color: $color-weak;
    letter-spacing: 0.1em;
    margin-top: 5px;
  }

  &__content {
    margin: 30px auto;
    p {
      line-height: 2.4;
      margin: 10px 0;
    }
  }
}
