$breakpoint: 900px;

.o-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-header;

  &.fix {
    position: fixed;
    background-color: $color-main;
  }
}

.o-wrapper {
  @media screen and (min-width: $breakpoint) {
    padding-top: 55px;
  }
}

.o-nav-trigger {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    display: block;
    height: 1px;
    width: 60%;
    background-color: $color-text;
    margin: 3px 0;
  }

  @media screen and (min-width: $breakpoint) {
    display: none;
  }
}

.o-nav {
  @media screen and (max-width: $breakpoint) {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#fff, 0.95);

    &.is-open {
      display: flex;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
      height: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    a,
    span {
      display: block;
      padding: 15px;
      margin: 0 10px;
      color: $color-main;
      font-size: 16px;
      transition: 0.3s;
    }

    i {
      display: block;
      margin: -5px;
      font-size: 30px;
    }

    a:hover,
    span {
      opacity: 0.6;
    }

    &--top {
      @media screen and (min-width: $breakpoint) {
        margin-right: 40px;
      }
      a {
        color: $color-text;
      }
    }

    &--close-trigger {
      margin-top: 30px;
      text-decoration: underline;
      @media screen and (min-width: $breakpoint) {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .fix {
    .o-nav {
      &__item {
        a,
        span {
          color: #fff;
        }

        &--top a {
          color: $color-text;
        }
      }
    }
  }
}
