@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?a854aa596f0c64b99f413d1ae7d68867?#iefix')
      format('embedded-opentype'),
    url('../fonts/icons.woff2?a854aa596f0c64b99f413d1ae7d68867') format('woff2'),
    url('../fonts/icons.woff?a854aa596f0c64b99f413d1ae7d68867') format('woff'),
    url('../fonts/icons.ttf?a854aa596f0c64b99f413d1ae7d68867')
      format('truetype'),
    url('../fonts/icons.svg?a854aa596f0c64b99f413d1ae7d68867#icons')
      format('svg');
}

i[class^='icon-'],
i[class*=' icon-'] {
  line-height: 1;
  &::before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
  }
}

.icon-title-mongoloid:before {
  content: '\f101';
}
.icon-title-otsuki:before {
  content: '\f102';
}
