.o-profile {
  &__item {
    margin-bottom: 100px;
  }

  &__image {
    max-width: 360px;
    margin: 30px auto;
  }

  &__name {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }

  &__sub {
    color: $color-main;
    font-size: 10px;
    text-align: center;

    span + span::before {
      content: '/';
      margin: 0 3px;
    }
  }
  &__content {
    margin: 15px auto;
    @include screen-lg {
      text-align: center;
    }

    p {
      font-size: 12px;
      margin: 5px 0;
    }
  }
}
