.o-schedule {
  &__item {
    margin: 70px 0 85px;
    text-align: center;
    a {
      color: $color-main;
      text-decoration: underline;
    }
  }
  &__date {
    color: $color-weak;
    font-size: 12px;
  }
  &__title {
    margin: 10px 0;
    font-size: 16px;
  }
  &__place {
    font-size: 12px;
  }
  &__content {
    margin: 15px auto 40px;
    p {
      font-size: 12px;
      margin: 5px 0;
    }
  }
}
