.o-snslist {
  display: flex;
  justify-content: center;

  &__item {
    margin: 0 10px;
  }

  &__link {
    display: block;
    text-align: center;
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }

  &__icon {
    img {
      width: 40px;
      height: 40px;
    }

    &--profile {
      opacity: 0.6;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__id {
    font-size: 12px;
  }
}
