@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

/* colors
----------------- */
$color-text: #4b473f;
$color-main: #bca162;
$color-main-weak: lighten($color-main, 20%);
$color-weak: lighten($color-text, 30%);
$color-background: #fff;
$color-red: #af2f28;

/* font families
----------------- */
$font-default: 'EB Garamond', 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3',
  'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;

$width-content: 600px;
$breakpoint-lg: $width-content;

/* z indexes
----------------- */
$z-index-header: 100000;
$z-index-modal: 110000;

.v {
  &-c {
    &-main {
      color: $color-main !important;
    }

    &-text {
      color: $color-text !important;
    }

    &-red {
      color: $color-red !important;
    }
  }

  &-bc {
    &-main {
      border-color: $color-main !important;
    }

    &-weak {
      border-color: $color-weak !important;
    }
  }

  &-bgc {
    &-main {
      background-color: $color-main !important;
    }
  }

  &-ff-serif {
    font-family: $font-default !important;
  }
  &-zi {
    &-modal {
      z-index: $z-index-modal;
    }
  }

  &-loading {
    animation: 1s loading infinite alternate;
  }

  &-link-hover:hover {
    background-color: rgba($color-main, 0.1);
  }
}

@keyframes loading {
  0% {
    background-color: lighten($color-text, 70%);
  }
  100% {
    background-color: lighten($color-text, 67%);
  }
}
