.m-about {
  &__image {
    margin-bottom: 30px;
    text-align: center;

    img {
      max-width: 300px;
    }
  }

  &__name {
    display: inline-block;
    margin-right: 5px;
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
  }

  &__title {
    font-style: italic;
  }

  &__content {
    margin-top: 15px;
    text-align: justify;

    p {
      margin-top: 10px;
    }
  }
}
