.m-top {
  padding: 50px;
  @include screen-lg {
    padding: 80px;
  }
  &__title {
    font-style: italic;
    line-height: 1;
  }

  &__main {
    font-weight: 800;
    font-size: 80px;
    @include screen-lg {
      font-size: 100px;
    }
  }

  &__sub {
    font-size: 20px;
    font-weight: 600;
    @include screen-lg {
      font-size: 24px;
    }
  }

  &__menuWrapper {
    margin-top: 50px;
    margin-left: 10px;

    @include screen-lg {
      margin-top: 80px;
      margin-left: 30px;
    }
  }

  &__menu {
    margin: 10px 0;
    @include screen-lg {
      margin: 20px 0;
    }
  }

  &__menuItem {
    margin: 10px 0;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    @include screen-lg {
      margin: 20px 0;
    }

    a {
      display: inline-block;
      transition: transform 0.3s;

      &:hover {
        transform: translateX(10px);
      }
    }
  }

  &__medias {
    margin: 10px 0;
    display: flex;

    @include screen-lg {
      margin: 20px 0;
    }
  }

  &__media {
    font-size: 30px;
    margin-right: 15px;
  }
}
