%m-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4;
}

%m-item {
  margin-bottom: 80px;
}

%m-content {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;

  p {
    margin-top: 10px;
  }
}
