@mixin screen-sm() {
  @media screen and (max-width: $breakpoint-sm - 1) {
    @content;
  }
}

@mixin screen-md() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin screen-lg() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

%hover-style {
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }
}
