.mo-container {
  max-width: $width-default;
  margin: auto;
  padding: 50px 30px;

  &__title {
    text-align: center;
    color: $color-accent;
    font-size: 18px;
  }
}

.mo-wrapper.isHeaderFixed {
  @include screen-lg {
    margin-top: $height-header;
  }
}
