.mo-menu {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    @extend %hover-style;
    display: block;
    line-height: $height-header;
    margin: 0 5px;
    padding: 0 15px;
  }
}
