.y-button {
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid;
  background-color: $color-main;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  appearance: none;

  &:hover {
    opacity: 0.6;
  }
}
