.y-header {
  &__upperInner {
    background-color: $color-gray;
    text-align: center;
  }

  &__siteTitle {
    display: inline-block;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }

  &__bottomInner {
    background-color: $color-background;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__item,
  &__link {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    line-height: 50px;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &.is-current::before {
      content: '~';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      line-height: 20px;
      height: 20px;
      width: 20px;
      text-align: center;
    }
  }

  &__accordion {
    position: relative;
  }

  &__accordionMenu {
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0 10px;
    z-index: $z-index-header;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(#000, 0.1);
  }

  &__accordionItem {
    padding: 0 10px;
    line-height: 40px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}
