.y-live {
  &__item {
    margin: 50px 0;
  }

  &__date {
    font-size: $font-size-sm;
  }

  &__title {
    @extend .y-title-2;
  }

  &__content {
    @extend .y-content;
    margin: 20px 0;
  }

  &__table {
    margin: 30px 0;
  }

  &__th,
  &__td {
    padding: 10px 0;
    vertical-align: top;
  }

  &__th {
    width: 80px;
  }
}
