.y-photo {
  &__topDescription {
    margin: 30px 0;
    text-align: center;
    color: $color-darkgray;
  }

  &__date {
    font-size: $font-size-sm;
  }

  &__title {
    @extend .y-title-2;
  }

  &__content {
    @extend .y-content;

    .wp-block-gallery .blocks-gallery-item {
      margin-right: 20px;
      width: 230px;
      height: 230px;
      cursor: pointer;
    }
  }
}
