@charset 'utf-8';

/* colors
----------------- */
$color-white: #fff;
$color-black: #333639;
$color-gray: #697584;

$color-text: $color-black;
$color-text-weak: #8391a0;
$color-main: #334c66;
$color-back: #f7fafc;
$color-border: #e0e5ea;

/* font families
----------------- */
$fontfamily-default: 'Source Sans Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$fontfamily-alegreya: 'Alegreya Sans SC', sans-serif;

/* font sizes
----------------- */
$fontsize-sm: 12px;
$fontsize-md: 16px;
$fontsize-lg: 20px;

$fontsize-title: 46px;

/* font sizes
----------------- */
$width-default: 1000px;
$width-maincolumn: 640px;
$width-sidecolumn: 320px;

/* break points
----------------- */
$breakpoint-sm: 640px;
$breakpoint-lg: 1000px;

/* z-index
----------------- */
$z-header: 100;
